[Unit]
Description=SAAM proxy from BLE to MQTT
Wants=network-online.target SAAM.Configure.service
After=network-online.target auditd.service SAAM.Configure.service
PartOf=SAAM.Configure.service
ConditionPathExists=/home/saam/SAAM/saam-ble/config.json

[Service]
ExecStart=/usr/bin/sudo -u saam /home/saam/SAAM/saam-ble/runSaam.py /home/saam/SAAM/saam-ble/config.json
StandardOutput=null
StandardError=null
KillMode=control-group
Restart=always
RestartSec=5
Type=simple

[Install]
WantedBy=multi-user.target
